<ion-header>
  <ion-toolbar>
    <ion-title>formContent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let field of fields">
    <ion-label>
      {{field.label+':'}}
    </ion-label>
    <ion-input *ngIf="(field.type === 'text' || field.type === 'date'
    ||field.type==='time') && this.permission==='filler' " [type]="field.type"
      [(ngModel)]="field.content"></ion-input>
    <!-- <ion-checkbox *ngIf="field.type === 'checkbox'"></ion-checkbox> -->
  </ion-item>
  <ion-button>Submit</ion-button>
</ion-content>