<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>drafts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Form Title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Teammate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Checker"></ion-input>
    </ion-item>
    <ion-item *ngFor="let task of tasks; index as i">
      <ion-input type="text" placeholder="Task {{i+1}}" [(ngModel)]="task.content"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="addTask()">Add Task</ion-button>

</ion-content>