<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Compose</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Form Title</ion-label>
    <ion-input type="text" [(ngModel)]="form.title"></ion-input>
  </ion-item>

  <ion-list>
    <ion-list-header>
      Fields
    </ion-list-header>
    <ion-reorder-group [disabled]="true" (ionItemReorder)="handleReorder($any($event))">
      <ion-item-group *ngFor="let field of form.fields; index as i">
        <ion-item-divider>
          <ion-label>Field {{i+1}}</ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item-divider>
        <ion-item>
          <ion-label>Field Title</ion-label>
          <ion-input value="text" placeholder="text" [(ngModel)]="field.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Field Type</ion-label>
          <ion-input value="text" placeholder="text" [(ngModel)]="field.type"></ion-input>
        </ion-item>
      </ion-item-group>
    </ion-reorder-group>
  </ion-list>
  <ion-button (click)="addField()">Add Field</ion-button>
</ion-content>