

.login-section{
    height: 100vh;
    width: 100%;
    background: rgb(235, 235, 235);
    right: 0;
    left: 0;
    margin: auto;
}

p{
    margin-top: 15px;
    font-size: 1rem;
    color: #7b7b7b;
    margin-left: 1rem;
}

ion-button{
    color: #7b7b7b;
    background-color: azure;
}

