<!-- <ion-header>
  <ion-toolbar> -->
<!-- -->
<!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
<!--  <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="login-section">
    <div class="heading ion-padding">
      <h1>Login</h1>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-item class="ion-margin-vertical">
          <ion-label position="floating">
            <ion-icon name="mail-outline"></ion-icon> EMAIL</ion-label
          >
          <ion-input type="email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-label position="floating"
            ><ion-icon name="lock-closed-outline"></ion-icon>
            PASSWORD</ion-label
          >
          <ion-input type="password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="ion-text-center">
      <ion-button size="large" class="login-button">Log in</ion-button>
    </div>
    <p>Forgot password ?</p>
  </div>
</ion-content>
