<ion-header>
  <ion-toolbar>
    <ion-title>submit form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input type="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">recipient:viewer</ion-label>
    <ion-input type="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">recipient:filler</ion-label>
    <ion-input type="title"></ion-input>
  </ion-item>
</ion-content>